<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{nome}};</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="assets/imagens/Laranja_correndo_001.jpg" />
  </ion-avatar>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/imagens/Foto_Bi_campeao_2022.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>{{d}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button size="small">
      <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>

    </ion-button>
    <ion-button size="small">
      <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>

    </ion-button>
  </ion-card>
</ion-content>
