<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide>
      <img src="./assets/imagens/Slide_001.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="./assets/imagens/Slide_002.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="./assets/imagens/Slide_003.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="./assets/imagens/Slide_004.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="./assets/imagens/Slide_005.jpeg" alt="">
    </ion-slide>
  </ion-slides>

</ion-content>
