<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="intro">
      <ion-icon name="Book"></ion-icon>
      <ion-label>Intro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="youtube">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Youtube</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="twitter">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="star"></ion-icon>
      <ion-label>feed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
